@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');

:root {
  --white: #fff;
  --black: #1c2b2d;
  --blue: #31326f;
  --light-blue: #005490;
  --color-primary: #9d0191;
  --color-sec: #db6400;
  --grey: #eee;
  --dark-grey: #222831;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Open Sans', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  background-color: var(--grey);
}
.container {
  width: 100%;
  max-width: 700px;
  margin-top: 2.5rem;
}
.header {
  background-color: var(--dark-grey);
  text-align: center;
  padding: 1.5rem;
  color: var(--white);
  text-transform: uppercase;
  font-size: 2.5rem;
  border-radius: 0.3rem;
}
hr {
  margin: 1rem 0;
  height: 0.2rem;
  background-color: var(--dark-grey);
}
.message {
  padding: 1rem;
  background-color: rgb(194, 240, 225);
  color: var(--dark-grey);
  border-radius: 0.3rem;
}
form {
  margin: 1rem 0;
}
.form-input {
  display: flex;
  flex-direction: column;
}
.form-input label {
  margin-bottom: 0.5rem;
}
.form-input input {
  margin-bottom: 0.5rem;
  padding: 0.8rem;
  outline: none;
  border: none;
  font-size: 1rem;
  border-radius: 0.3rem;
}
