@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');

:root {
  --white: #fff;
  --black: #1c2b2d;
  --blue: #31326f;
  --light-blue: #005490;
  --color-primary: #9d0191;
  --color-sec: #db6400;
  --grey: #eee;
  --dark-grey: #222831;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  font-family: 'Open Sans', sans-serif;
  display: flex;
  justify-content: center;
}
.container {
  max-width: 800px;
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.container button {
  padding: 1rem 2rem;
  border: 1px solid var(--color-primary);
  border-radius: 5px;
  background: var(--color-primary);
  color: var(--white);
  font-size: 1.6rem;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  position: sticky;
  z-index: 1;
  top: 5px;
}
.container button:hover {
  background: var(--white);
  color: var(--color-primary);
}
#error {
  color: red;
  font-size: 1.2rem;
  font-weight: 600;
  margin-top: 1rem;
  align-items: center;
}
.user {
  margin-top: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 1.3rem;
}
.user::after {
  content: '';
  display: block;
  width: 100%;
  height: 1px;
  background: var(--grey);
  margin-top: 2rem;
}
