@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');

:root {
  --white: #fff;
  --black: #1c2b2d;
  --blue: #31326f;
  --light-blue: #005490;
  --color-primary: #9d0191;
  --color-sec: #db6400;
  --grey: #eee;
  --dark-grey: #222831;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Open Sans', sans-serif;
  background-color: var(--dark-grey);
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  justify-content: center;
}
.container {
  margin-top: 2rem;
  width: 100%;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  background-color: var(--blue);
  padding: 1rem;
  border-radius: 0.5rem;
}
.result {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 100%;
}
.result p {
  font-size: 1.8rem;
  background-color: var(--white);
  color: var(--black);
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  text-align: right;
  width: 100%;
  min-height: 55px;
  max-height: auto;
}
.result button {
  background-color: var(--color-sec);
}
button {
  padding: 0.5rem 1rem;
  border: none;
  outline: none;
  border-radius: 0.5rem;
  font-size: 1.2rem;
  color: var(--white);
  transition: all 0.3s ease;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  height: 55px;
}
button:hover {
  transform: scale(1.05);
}
.buttons button {
  background-color: var(--color-primary);
}
.buttons {
  margin-top: 1rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}
