@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');

:root {
  --white: #fff;
  --black: #1c2b2d;
  --blue: #31326f;
  --light-blue: #005490;
  --color-primary: #9d0191;
  --color-sec: #db6400;
  --grey: #eee;
  --dark-grey: #222831;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  font-family: 'Open Sans', sans-serif;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: var(--dark-grey);
}
.quiz-box {
  max-width: 600px;
  background-color: var(--white);
  border-radius: 10px;
  box-shadow: 0 0 10px rgb(255, 153, 0);
  padding: 2rem;
  border: 2px solid var(--color-sec);
}
.quiz-box h1 {
  font-size: 2.5rem;
  text-align: center;
  margin-bottom: 2rem;
  background-color: var(--dark-grey);
  color: var(--white);
  padding: 1rem;
  border-radius: 10px;
  border: 1px solid var(--color-sec);
}
.question-count-timmer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}
.question-count-timmer p {
  font-size: 1.5rem;
  font-weight: 600;
}
#timmer {
  font-size: 1.5rem;
  font-weight: 600;
  background-color: var(--dark-grey);
  color: var(--white);
  padding: 0.5rem;
  border-radius: 10px;
  border: 1px solid var(--color-sec);
}
#question {
  font-size: 1.7rem;
  font-weight: 600;
  margin-bottom: 2rem;
  color: var(--color-sec);
}
.options {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.options button {
  font-size: 1.5rem;
  font-weight: 600;
  padding: 1rem;
  border-radius: 10px;
  border: 1px solid var(--color-sec);
  background-color: var(--dark-grey);
  color: var(--white);
  cursor: pointer;
  text-align: start;
  transition: all 0.3s ease;
}
.options button:hover {
  background-color: var(--color-sec);
  color: var(--white);
}
#reset-quiz {
  display: flex;
  align-items: center;
  justify-content: center;
}
#reset-quiz-btn {
  display: flex;
  font-size: 1.5rem;
  font-weight: 600;
  padding: 1rem;
  border-radius: 10px;
  border: 1px solid var(--color-sec);
  background-color: var(--dark-grey);
  color: var(--white);
  cursor: pointer;
  text-align: center;
  transition: all 0.3s ease;
}
#reset-quiz-btn:hover {
  background-color: var(--color-sec);
  color: var(--white);
}
