@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');

:root {
  --white: #fff;
  --black: #1c2b2d;
  --blue: #31326f;
  --light-blue: #005490;
  --color-primary: #9d0191;
  --color-sec: #db6400;
  --grey: #eee;
  --dark-grey: #222831;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  font-family: 'Open Sans', sans-serif;
  background-color: var(--dark-grey);
}
.online {
  background-color: green;
}
p {
  color: var(--white);
  font-size: 1.6rem;
  line-height: 1.5;
  margin-bottom: 1rem;
}

img {
  width: 100%;
}

.container {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container-div {
  border-radius: 5px;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
h1 {
  color: var(--white);
  font-size: 30px;
}
.wifi {
  width: 100px;
  height: 100px;
  margin-bottom: 10px;
}
