@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');

:root {
  --white: #fff;
  --black: #1c2b2d;
  --blue: #31326f;
  --light-blue: #005490;
  --color-primary: #9d0191;
  --color-sec: #db6400;
  --grey: #eee;
  --dark-grey: #222831;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  font-family: 'Open Sans', sans-serif;
  height: 100vh;
}

.container {
  display: flex;
}
.left {
  background-color: var(--black);
  height: 100vh;
  padding: 20px;
  color: var(--white);
  width: 30%;
}
.instructions {
  color: var(--color-sec);
  font-size: 3rem;
  margin-bottom: 20px;
}
.instructions::after {
  content: '';
  display: block;
  width: 20%;
  height: 2px;
  background-color: var(--white);
  margin-top: 5px;
}
.left p {
  font-size: 1.3rem;
  margin-top: 10px;
  line-height: 1.5;
  margin-bottom: 5px;
}
.left ol {
  margin-left: 10px;
  margin-top: 10px;
  font-size: 1.3rem;
}
.left ol li {
  margin-bottom: 10px;
  list-style: none;
}
.left ol li::before {
  content: '👉';
  margin-right: 10px;
}
.left ol li a {
  color: var(--color-sec);
  text-decoration: none;
}
.left ol li a:hover {
  text-decoration: underline;
}
.left ol li span {
  color: var(--color-sec);
}

.right {
  background-color: var(--white);
  height: 100vh;
  padding: 20px;
  width: 70%;
}
.header {
  text-align: center;
  color: var(--color-primary);
  font-size: 3rem;
}
.radio-inputs {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 20px;
  background-color: var(--grey);
  margin-left: 80px;
  margin-right: 80px;
  border-radius: 5px;
}

.radio-input {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  font-size: 1.8rem;
  padding: 10px;
  border-radius: 5px;
}
.radio-input label {
  cursor: pointer;
  display: flex;
  gap: 5px;
  align-items: center;
}
.radio-input label i {
  color: var(--color-sec);
}
.radio-input:hover {
  background-color: var(--color-primary);
  color: var(--white);
  cursor: pointer;
}
.radio-inputs input {
  display: none;
}
.radio-inputs input:checked + .radio-input {
  background-color: var(--color-primary);
  color: var(--white);
}
/* paste-link-section */
section {
  display: none;
  border: 2px solid var(--color-primary);
  margin-left: 80px;
  margin-right: 80px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
section > i {
  font-size: 4rem;
  color: var(--color-sec);
  margin-top: 20px;
  border: 2px solid var(--color-sec);
  border-radius: 50%;
  padding: 10px;
}
section h2 {
  font-size: 2rem;
}
section h2::before {
  content: '--';
  margin-right: 10px;
}
section h2::after {
  content: '--';
  margin-left: 10px;
}
section > p {
  font-size: 1.7rem;
  margin-bottom: 10px;
  font-weight: 500;
}
.gdrive-link {
  display: flex;
  background-color: var(--grey);
  align-items: center;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
  margin-bottom: 20px;
}
.gdrive-link i {
  font-size: 1.5rem;
  color: var(--color-sec);
  padding: 10px;
}
.gdrive-link input {
  width: 100%;
  padding: 10px;
  font-size: 1.7rem;
  border: none;
  outline: none;
  background-color: var(--grey);
  border-bottom-right-radius: 10px;
}
.gdrive-link:focus-within {
  border-bottom: 2px solid green;
}
.btn {
  background-color: var(--color-sec);
  color: var(--white);
  padding: 10px 20px;
  font-size: 1.7rem;
  border: none;
  outline: none;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 10px;
}
.btn:hover {
  background-color: var(--color-primary);
}
.embed-code {
  position: relative;
  margin-bottom: 20px;
}
.embed-code > h3 {
  font-size: 1.8rem;
  text-align: center;
}
.embed-code > textarea {
  outline: none;
  padding: 5px;
  font-size: 1.5rem;
}
.embed-code > span {
  position: absolute;
  background-color: var(--color-primary);
  padding: 5px;
  color: var(--white);
  font-size: 1.5rem;
  font-weight: 600;
  bottom: 4px;
  right: 0;
  cursor: pointer;
}
.embed-code > span:hover {
  background-color: var(--color-sec);
}
